body {
  font-family: sans-serif;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}
thead {
  text-align: left;
}
tr {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
}
form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
form > button {
  margin-top: 10px;
}

/* hide spinners on number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Safari/Chrome */
  margin: 0;
}
